<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <!-- Including Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Form New Poesia</title>

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
    <!-- embedding FontAwesome Kit script -->
    <script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- Content -->
<div class="container-md p-4">
    <div class="form">
        <div class="row gx-4 align-items-center">
            <div class="col-md-6 p-3">
                <div th:if="${poesia.foto}">
                    <img src="" th:src="@{'/files/' + ${poesia.foto.id}}" alt="posia_img"/>
                </div>
                <div th:unless="${poesia.foto}">
                    <img src="/images/logo.png" alt="libro"/>
                </div>            </div>
            <div class="col-md-6 p-3 border-left">
                <h5>Modifica<em>poesia</em></h5>
                <form th:action="@{'/autore/updatePoesia/'+${poesia.id}}" method="POST" th:object="${poesia}" enctype="multipart/form-data">
                    <label class="form-label">Modifica titolo</label>
                    <div class="input-group mb-3">
                        <input name="titolo" type="text" th:field="*{titolo}" class="form-control" aria-label="titolo" aria-describedby="basic-addon1">
                    </div>
                    <label class="form-label">Modifica testo</label>
                    <div class="input-group mb-3">
                        <textarea name="testo" type="text" th:field="*{testo}" class="form-control" aria-label="testo" aria-describedby="basic-addon2" rows="10"></textarea>
                    </div>

                    <!--per le immagini aspetto che creiamo la classe ecc-->

                    <div class="input-group mb-3">
                        <label class="form-label">Modifica immagine</label>
                        <input type="file" class="form-control" name="file" accept="image/*" />
                        <p class="mt-1 form-text valid" th:if="${fileUploadError}" th:text="${fileUploadError}"></p>
                    </div>

                    <label class="form-label">Modifica data di pubblicazione</label>
                    <div class="input-group mb-3">
                        <input name="data pubblicazione" type="date" th:field="*{dataPubblicazione}" class="form-control" aria-label="data pubblicazione" aria-describedby="basic-addon4">
                    </div>

                    <span class="form-text validation" th:if="${param.error != null}">Campi sbagliati</span>

                    <div class="main-button py-3">
                        <button type="submit">Conferma</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
