<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <!-- Including Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Form New Poesia</title>

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
    <!-- embedding FontAwesome Kit script -->
    <script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Content -->
<div class="container-md p-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="form">
                <div class="row gx-4 align-items-center">
                    <div class="col-md-6 p-3">
                        <a href="/"><img src="/images/logo.png" alt=""/></a>
                    </div>

                    <div class="col-md-6 p-3 border-left">
                        <form th:action="@{/autore/poesia}" method="POST" th:object="${poesia}" enctype="multipart/form-data">
                            <h5>Inserisci una nuova<em>poesia</em></h5>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label class="form-label" for="formTitolo">Titolo</label>
                                    <input id="formTitolo" type="text" th:field="*{titolo}" class="form-control">
                                    <p class="mt-1 form-text valid" th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <label class="form-label" for="formTesto">Testo</label>
                                    <textarea id="formTesto" type="text" th:field="*{testo}" class="form-control" rows="10"></textarea>
                                    <p class="mt-1 form-text valid" th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <label for="formImmagine" class="form-label">Aggiungi Immagine</label>
                                    <input type="file" id="formImmagine" class="form-control" name="file" accept="image/*" />
                                    <p class="mt-1 form-text valid" th:if="${fileUploadError}" th:text="${fileUploadError}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="formDataPubblicazione">Data di pubblicazione (se diversa da oggi)</label>
                                    <input id="formDataPubblicazione" type="date" th:field="*{dataPubblicazione}" class="form-control">
                                </div>
                            </div>
                            <div th:replace="~{fragments/fragments.html :: fieldGlobalError}"></div>
                            <div class="main-button py-3">
                                <button type="submit">Inserisci</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
