
<header class="header-area" th:fragment="header-anonymous">
  <div class="container">
    <div class="row align-items-center flex-row">
      <div class="col-lg-12">
        <nav class="main-nav">
          <!-- LOGO -->
          <a href="/" class="logo">
            <img src="/images/logos/logo3.jpg" alt="logo"/>
          </a>

          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/libro">Il nostro Libro</a>
            </li>
            <li>
              <a href="/chi-siamo">Chi siamo</a>
            </li>
            <!--<li>
              <a href="/street-poetry">Street Poetry</a>
            </li>-->
            <li>
              <a href="/contattaci">Contattaci</a>
            </li>
            <li th:if="${user == null}">
              <a href="/login">
                Login <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li th:unless="${user == null}">
              <a href="/profilo">Profilo</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<header class="header-area" th:fragment="header-profile">
  <div class="container">
    <div class="row align-items-center flex-row">
      <div class="col-lg-12">
        <nav class="main-nav">
          <!-- LOGO -->
          <a href="/" class="logo">
            <img src="/images/logos/logo3.jpg" alt="logo"/>
          </a>

          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/libro">Il nostro Libro</a>
            </li>
            <li>
              <a href="/chi-siamo">Chi siamo</a>
            </li>
            <!--<li>
              <a href="/street-poetry">Street Poetry</a>
            </li>-->
            <li>
              <a href="/contattaci">Contattaci</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<footer th:fragment="footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Copyright © 2020 Poeti der Trullo | Tutti i diritti sono riservati
          <a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/poetidertrullo/"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- SIDE BAR -->
<div class="col-md-3 side-bar" th:fragment="sidebar">
  <!-- Socials -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook px-3"></i></a>
      <a href="https://twitter.com/PoetiderTrullo"><i class="fa-brands fa-twitter px-3"></i></a>
      <a href="https://instagram.com/poetidertrullo"><i class="fa-brands fa-instagram px-3"></i></a>
    </div>
  </div>
  <!-- SEARCH BAR -->
  <div class="row my-4">
    <div class="col-md-12 d-flex justify-content-center search-bar">
      <form th:action="@{/find}" method="post" id="search" >
        <input type="text" placeholder="Cosa cerchi?" th:value="${poesiaCercata}" name="poesiaCercata" id="searchText" class="form-control">
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
  </div>
  <!-- I POETI -->
  <div class="row my-4">
    <div class="col-md-12">
      <h4><em>I POETI DER TRULLO</em></h4>
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item" th:each="poeta : ${poetidertrullo}">
          <a th:href="@{'/autori/' + ${poeta.id}}" th:text="${poeta.username}">Er Bestia</a>
        </li>
        <!--<li class="list-group-item">
          <a href="/autore/quercia">Er Quercia</a>
        </li>
        <li class="list-group-item">
          <a href="/autore/marta">Marta der Terzo Lotto</a>
        </li>
        <li class="list-group-item">
          <a href="/autore/sara">Sara G.</a>
        </li>
        <li class="list-group-item">
          <a href="/autore/farco">Er Farco</a>
        </li>
        <li class="list-group-item">
          <a href="/autore/inumi">Inumi Laconico</a>
        </li>-->
      </ul>
    </div>
  </div>
  <!-- COMMENTI RECENTI -->
  <div class="row my-4">
    <div class="col-12">
      <h4>I <em>commenti</em> PIÙ RECENTI</h4>
      <!-- TODO: DA AUTOMATIZZARE PER OGNI COMMENTO (th:each) -->
      <ul class="list-group list-group-flush mt-2" th:if="${ultimiCommenti!=null && !ultimiCommenti.isEmpty()}">
        <li class="list-group-item" th:each="commento : ${ultimiCommenti}">
          <a th:href="@{'/poesia/' +${commento.poesia.id}}"> Commento</a>
          <p th:text="${commento.text}">Testo commento</p>
        </li>
      </ul>

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:unless="${ultimiCommenti!=null && !ultimiCommenti.isEmpty()}">
        <div class="col">
          <h3 class="text-justify">Non ci sono commenti...</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- cards delle ultime poesie pubblicate-->
<div class="latest-poesie mt-5" th:fragment="cards-poesie-home">
  <h4>Le ultime <em>poesie</em></h4>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:if="${ultimePoesie!= null && !ultimePoesie.isEmpty()}">
    <div class="col" th:each="poesia : ${ultimePoesie}">
      <a th:href="@{'/poesia/' + ${poesia.id}}" >
        <div class="card">
          <div th:if="${poesia.foto}">
            <img src="" th:src="@{'/files/' + ${poesia.foto.id}}" class="card-img-top" alt="posia_img"/>
          </div>
          <div th:unless="${poesia.foto}">
            <img src="/images/libro.jpg" class="card-img-top" alt="libro"/>
          </div>
          <div class="card-body">
            <h5 class="card-title" th:text="${poesia.titolo}">Card title</h5>
            <p class="card-text text-truncate" th:text="${poesia.testo}">This is a short card.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:unless="${ultimePoesie!= null && !ultimePoesie.isEmpty()}">
    <div class="col">
      <h3 class="text-md-center">Non ci sono poesie...</h3>
    </div>
  </div>
</div>


<!-- cards delle poesie del poeta-->
<div class="latest-poesie mt-5" th:fragment="cards-poesie">
  <h4><em>Poesie: </em></h4>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:if="${poesie!= null && !poesie.isEmpty()}">
    <div class="col" th:each="poesia : ${poesie}">
      <a th:href="@{'/poesia/' + ${poesia.id}}">
        <div class="card">
          <div th:if="${poesia.foto}">
            <img src="" th:src="@{'/files/' + ${poesia.foto.id}}" class="card-img-top" alt="posia_img"/>
          </div>
          <div th:unless="${poesia.foto}">
            <img src="/images/libro.jpg" class="card-img-top" alt="libro"/>
          </div>
          <div class="card-body">
            <h5 class="card-title" th:text="${poesia.titolo}">Card title</h5>
            <p class="card-text text-truncate" th:text="${poesia.testo}">This is a short card.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:unless="${poesie!= null && !poesie.isEmpty()}">
    <div class="col">
      <h3 class="text-md-center">Non ci sono poesie...</h3>
    </div>
  </div>
</div>

<!-- codice per mostrare errore generici in form -->
<div class="mt-1" th:if="${#fields.hasGlobalErrors()}" th:fragment="fieldGlobalError">
  <p class="form-text valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
</div>

<!-- codice html per mostrare fotoPoesia o fotoDefault -->
<div th:fragment="foto-poesia">
  <div th:if="${poesia.foto}">
    <img src="" th:src="@{'/files/' + ${poesia.foto.id}}" alt="posia_img"/>
  </div>
  <div th:unless="${poesia.foto}">
    <img src="/images/logos/logo.png" alt="libro"/>
  </div>
</div>

<div class="mt-1" th:if="${#fields.hasGlobalErrors()}" th:fragment="fieldGlobalError">
  <p class="form-text valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
</div>