
<header class="header-area" th:fragment="header">
  <div class="container">
    <div class="row align-items-center flex-row">
      <div class="col-lg-12">
        <nav class="main-nav">
          <!-- LOGO -->
          <a href="/" class="logo">
            <img src="/images/logo3.jpg" alt="logo"/>
          </a>

          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/libro">Il nostro Libro</a>
            </li>
            <li>
              <a href="/chi-siamo">Chi siamo</a>
            </li>
            <li>
              <a href="/street-poetry">Street Poetry</a>
            </li>
            <li>
              <a href="/contattaci">Contattaci</a>
            </li>
            <li th:if="${user == null}">
              <a href="/login">
                Login <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li th:unless="${user == null}">
              <a href="/autore/profile">Profilo</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<footer th:fragment="footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Copyright © 2020 Poeti der Trullo | Tutti i diritti sono riservati
          <a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/poetidertrullo/"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- SIDE BAR -->
<div class="col-md-3 side-bar" th:fragment="sidebar">
  <!-- Socials -->
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook px-3"></i></a>
      <a href="https://twitter.com/PoetiderTrullo"><i class="fa-brands fa-twitter px-3"></i></a>
      <a href="https://instagram.com/poetidertrullo"><i class="fa-brands fa-instagram px-3"></i></a>
    </div>
  </div>
  <!-- SEARCH BAR -->
  <div class="row my-4">
    <div class="col-12 d-flex justify-content-center search-bar">
      <form id="search" action="#">
        <input type="text" placeholder="Cosa cerchi?" id="searchText">
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
  </div>
  <!-- I POETI -->
  <div class="row my-4">
    <div class="col-md-12">
      <h4><em>I POETI DER TRULLO</em></h4>
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <a href="/autori/bestia">Er Bestia</a>
        </li>
        <li class="list-group-item">
          <a href="/autori/quercia">Er Quercia</a>
        </li>
        <li class="list-group-item">
          <a href="/autori/marta">Marta der Terzo Lotto</a>
        </li>
        <li class="list-group-item">
          <a href="/autori/sara">Sara G.</a>
        </li>
        <li class="list-group-item">
          <a href="/autori/farco">Er Farco</a>
        </li>
        <li class="list-group-item">
          <a href="/autori/inumi">Inumi Laconico</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- COMMENTI RECENTI -->
  <div class="row my-4">
    <div class="col-12">
      <h4>I <em>commenti</em> PIÙ RECENTI</h4>
      <!-- TODO: DA AUTOMATIZZARE PER OGNI COMMENTO (th:each) -->
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <a href="#"> <!--th:href="@{'/commenti/' +${commento.id}}" -->Commento</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- cards delle poesie-->
<div class="latest-poesie mt-5" th:fragment="cards-poesie">
  <h4>Le ultime <em>poesie</em></h4>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:if="${!ultimePoesie.isEmpty()}">
    <div class="col" th:each="poesia : ${ultimePoesie}">
      <div class="card h-100">
        <!-- TODO:IMMAGINI -->
        <img th:src="@{'https://picsum.photos/200/200'}" class="card-img-top" alt="poesia-img">
        <div class="card-body">
          <h5 class="card-title" th:text="${poesia.titolo}">Card title</h5>
          <p class="card-text text-truncate" th:text="${poesia.testo}">This is a short card.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" th:unless="${!ultimePoesie.isEmpty()}">
    <div class="col">
      <h3 class="text-md-center">Non ci sono poesie...</h3>
    </div>
  </div>
</div>