
<header class="header-area" th:fragment="header">
  <div class="container">
    <div class="row align-items-center flex-row">
      <div class="col-lg-12">
        <nav class="main-nav">
          <!-- LOGO -->
          <a href="/" class="logo">
            <img src="/images/logo3.jpg" alt="logo"/>
          </a>

          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/libro">Il nostro Libro</a>
            </li>
            <li>
              <a href="/chi-siamo">Chi siamo</a>
            </li>
            <li>
              <a href="/street-poetry">Street Poetry</a>
            </li>
            <li>
              <a href="/contattaci">Contattaci</a>
            </li>
            <li th:if="${user == null}">
              <a href="/login">
                Login <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li th:unless="${user == null}">
              <a href="/autore/profile">Profilo</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<footer th:fragment="footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Copyright © 2020 Poeti der Trullo | Tutti i diritti sono riservati
          <a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/poetidertrullo/"><i class="fa-brands fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>