.header-area{
    background-color: transparent;
    position: absolute;
    height: 70px;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .5s ease 0s;
}

.header-area .main-nav{
    min-height: 80px;
    display: flex;
    background: rgb(194,44,45);
    background: linear-gradient(0deg, rgba(194,44,45,1) 0%, rgba(236,104,27,1) 100%);
    padding: 12px 10px;
    border-radius: 40px;
}

.header-area .main-nav .logo{
    flex-basis: 30%;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img{
    width: 223px;
    height: 70px;
    margin-left: 50px;
}
.header-area .main-nav .nav{
    display: inline-flex;
    flex-basis: 70%;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: right;
    margin-top: 5px;
    margin-right: 0px;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.header-area .main-nav .nav li a{
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #2a2a2a;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 15px 10px;
    border-radius: 18px;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a{
    color: #fff;
    background-color: #000;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}