/* INIZIALIZZAZIONE CSS */
/*
---------------------------------------
reset css
---------------------------------------
*/

::selection {
    background-color: #e9571c;
    color: #1e1e1e;
}

* {
    box-sizing: border-box;
}

html, body{
    background-image: url("../images/sampietrino.jpg");
    font-family: 'Ubuntu', sans-serif;
    background-repeat: repeat;
}

body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

header, nav, section, article, aside, footer, hgroup {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a{
    color: #fff;
    text-decoration: none !important;
}

img {
    width: 100%;
    overflow: hidden;
}

ul{
    margin-bottom: 0px;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

button, input, select, optgroup, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 400;
}

p{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 0;
}
/* FINE INIZIALIZZAZIONE CSS */

body .page-content{
    margin-top: 110px;
    background-color: #202124;
    padding: 45px;
    border-radius: 23px;
}

.page-content a{
    font-size: 40px;
    font-weight: 700;
}
.page-content .side-bar a{
    font-size: 30px;
    font-weight: 700;
}

.page-content a:hover{
    color: #e9571c;
}
.page-content .latest-events,
.page-content .latest-poesie,
.page-content .profile{
    border-radius: 23px;
    padding: 60px;
    background-color: #151619;
}
.page-content h4{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}
.page-content h5{
    font-size: 34px;
    color: #fff;
    font-weight: 700;
}
.page-content h6{
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}

.page-content .username,
.page-content h4 em,
.page-content h5 em,
.page-content h6 em{
    font-style: normal;
    color: #e9571c;
    text-transform: uppercase;
}

.page-content .side-bar h4{
    font-size: 34px;
}

.page-content img{
    border-radius: 23px;
}

.page-content .commento{
    border-radius: 23px;
    background-color: #151619;
}

.page-content .commento .blockquote-footer{
    color: #e9571c;
    font-size: 20px;
}

.page-content .search-bar{
    margin-top: 30px;
}

.page-content .search-bar #search{
    position: relative;
    margin-top: 5px;
}

.page-content .search-bar #search input{
    background-color: #fff;
    height: 40px;
    border-radius: 23px;
    border: none;
    color: #666;
    font-size: 16px;
    padding: 0px 15px 0px 45px;
}

.page-content .search-bar #search i{
    position: absolute;
    color: #151619;
    left: 20px;
    top: 11px;
    width: 18px;
    height: 18px;
    font-size: 18px;
}

.page-content .list-group{
    background-color: #202124;
    border: none;
}

.page-content .list-group-item{
    background-color: #202124;
    color: #fff;
}

.page-content .list-group-item a{
    font-size: 26px;
    font-weight: 500;
}

.page-content .logo-rounded{
    border-radius: 30px;
}

.btn-outline-danger a:hover{
    color: #fff !important;
}
.btn-outline-danger a{
    color: #dc3545 !important;
    font-size: 20px;
}


.card {
    border: none;
    background-color: #202124;
    border-radius: 23px;
}

.card-body h5{
    font-size: 36px;
}

.page-content p em span{
    color: #e9571c;
}

.page-content .side-bar{
    border-left: 3px solid #151619;
}

.main-button a, .main-button button{
    font-size: 18px;
    color: #fff;
    background-color: #e9571c;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}
.main-button #home-btn{
    font-size: 24px;
}
.main-button a:hover, button:hover {
    background-color: #fff;
    color: #e9571c;
}

footer p{
    text-align:center;
    padding: 30px 0;
    color: #fff;
    font-weight: 400;
}

footer p a{
    color: #fff;
    transition: all .3s;
}

footer p a:hover{
    color: #e9571c;
}