<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<!-- Including Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

	<title>SiwPoesia - Registrati</title>

	<!-- Bootstrap CSS Files -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<!-- Custom CSS Files -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/form.css">
	<!-- embedding FontAwesome Kit script -->
	<script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Content -->
<div class="container-md px-3">
	<div class="form">
		<form th:action="@{/register}" method="POST" enctype="multipart/form-data">
			<div class="row gx-4 align-items-center">
				<div class="col-md-6">
					<div class="row">
						<div class="col-12">
							<a href="/"><img src="/images/logo.png" alt=""/></a>
						</div>
						<div class="col-12">
							<div class="form-group my-4">
								<label for="formImmagine">Immagine Profilo</label>
								<input type="file" class="form-control" name="file" id="formImmagine" accept=""/>
								<p class="mt-1 form-text valid" th:if="${fileUploadError}" th:text="${fileUploadError}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 p-4 border-left">
					<h4 class="text-center">Registrati</h4>
					<div th:object="${autore}">
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="formName">Nome</label>
								<input type="text" placeholder="Mario" class="form-control" th:field="*{nome}" id="formName"/>
								<p class="mt-1 form-text valid" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
							</div>
							<div class="form-group col-sm-6">
								<label for="formSurname">Cognome</label>
								<input type="text" placeholder="Rossi" class="form-control" th:field="*{cognome}" id="formSurname"/>
								<p class="mt-1 form-text valid" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
							</div>
						</div>
						<div class="form-group my-4">
							<label for="formEmail">Email</label>
							<input type="email" placeholder="youremail@example.com" class="form-control" th:field="*{email}" id="formEmail" />
							<p class="mt-1 form-text valid" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
						</div>
						<div th:replace="~{fragments/fragments.html :: fieldGlobalError}"></div>
					</div>
					<div class="row" th:object="${credenziali}">
						<div class="form-group col-md-6">
							<label for="formUsername">Username</label>
							<input type="text" id="formUsername" placeholder="username" class="form-control" th:field="*{username}" />
							<p class="mt-1 form-text valid" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
						</div>
						<div class="form-group col-md-6 mb-3">
							<label for="formPassword">Password</label>
							<input type="password" id="formPassword" placeholder="password" class="form-control" th:field="*{password}" />
							<p class="mt-1 form-text valid" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
						</div>
						<div th:replace="~{fragments/fragments.html :: fieldGlobalError}"></div>
					</div>
					<div class="main-button py-3">
						<button type="submit">Registrati</button>
					</div>
					<div>
						<p class="form-text">Hai già un account? <a href="/login">Accedi</a></p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
