<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<!-- Including Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

	<title>SiwPoesia - Homepage</title>

	<!-- Bootstrap CSS Files -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<!-- Custom CSS Files -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<!-- embedding FontAwesome Kit script -->
	<script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- HEADER / NAV BAR -->
<header class="header-area" th:replace="~{fragments/head-foot.html :: header}"></header>
<!-- Content -->
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-content">
				<div class="row">
					<!-- MAIN CONTENT -->
					<div class="col-lg-8">
						<!-- slideshow degli eventi -->
						<div id="events-carousel" class="carousel slide latest-events" data-bs-ride="carousel">
							<h5>Effetua il <em>login</em></h5>
							
							<form th:action="@{/login}" method="POST">
								<div>
									<h1>Username: </h1>
									<span><input name="username" type="text" required /></span>
								</div>
								<div>
									<h1>Password: </h1>
									<span><input name="password" type="password" required /></span>
								</div>
								<div>
									<span th:if="${param.error != null}">Username o password errati</span>
								</div>
								<div>
									<span><button type="submit">Login</button></span>
								</div>
							</form>
						
							<div>
								<h1>Non hai un account? </h1>
								<a th:href="@{/register}" th:text="Registrati">Registrati</a>
							</div>
						
						</div>	
					<!-- SIDE BAR -->
					<div class="col-lg-4">
						<!-- Socials -->
						<div class="row">
							<div class="col-12 d-flex justify-content-center">
								<a href="https://www.facebook.com/ipoetidertrullo/"><i class="fa-brands fa-facebook px-3"></i></a>
								<a href="https://twitter.com/PoetiderTrullo"><i class="fa-brands fa-twitter px-3"></i></a>
								<a href="https://instagram.com/poetidertrullo"><i class="fa-brands fa-instagram px-3"></i></a>
							</div>
						</div>
						<!-- SEARCH BAR -->
						<div class="row my-4">
							<div class="col-12 d-flex justify-content-center search-bar">
								<form id="search" action="#">
									<input type="text" placeholder="Cosa cerchi?" id="searchText">
									<i class="fa-solid fa-magnifying-glass"></i>
								</form>
							</div>
						</div>
						<!-- I POETI -->
						<div class="row my-4">
							<div class="col-12">
								<h4><em>I POETI DER TRULLO</em></h4>
								<ul class="list-group list-group-flush mt-2">
									<li class="list-group-item">
										<a href="/autori/bestia">Er Bestia</a>
									</li>
									<li class="list-group-item">
										<a href="/autori/quercia">Er Quercia</a>
									</li>
									<li class="list-group-item">
										<a href="/autori/marta">Marta der Terzo Lotto</a>
									</li>
									<li class="list-group-item">
										<a href="/autori/sara">Sara G.</a>
									</li>
									<li class="list-group-item">
										<a href="/autori/farco">Er Farco</a>
									</li>
									<li class="list-group-item">
										<a href="/autori/inumi">Inumi Laconico</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- COMMENTI RECENTI -->
						<div class="row my-4">
							<div class="col-12">
								<h5>I <em>commenti</em> PIÙ RECENTI</h5>
								<!-- TODO: DA AUTOMATIZZARE PER OGNI COMMENTO (th:each) -->
								<ul class="list-group list-group-flush mt-2">
									<li class="list-group-item">
										<a href="#"> <!--th:href="@{'/commenti/' +${commento.id}}" -->Commento</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- TODO: OCCHIO A QUALCHE DIV CHIUSA MALE -->

<!-- FOOTER -->
<footer th:replace="~{fragments/head-foot.html :: footer}"></footer>

<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
