<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/ico" href="/favicon.ico">
	<!-- Including Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

	<title>SiwPoesia - Registrati</title>

	<!-- Bootstrap CSS Files -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<!-- Custom CSS Files -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/form.css">
	<!-- embedding FontAwesome Kit script -->
	<script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Content -->
<div class="container-md px-3">
	<div class="form">
		<div class="row gx-4 align-items-center">
			<div class="col-md-6">
				<a href="/"><img src="/images/logo.png" alt=""/></a>
			</div>
			<div class="col-md-6 p-4 border-left">
				<h4 class="text-center">Registrati</h4>
				<form th:action="@{/register}" method="POST">
					<div class="row">
						<div class="form-group col-sm-6">
							<label for="formName">Nome</label>
							<input type="text" placeholder="Mario" class="form-control" th:field="${autore.nome}" id="formName"/>
							<span class="mt-2" th:if="${#fields.hasErrors('autore.nome')}" th:errors="${autore.nome}"></span>
						</div>
						<div class="form-group col-sm-6">
							<label for="formSurname">Cognome</label>
							<input type="text" placeholder="Rossi" class="form-control" th:field="${autore.cognome}" id="formSurname"/>
							<span class="mt-1" th:if="${#fields.hasErrors('autore.cognome')}" th:errors="${autore.cognome}"></span>
						</div>
					</div>
					<div class="form-group my-4">
						<label for="formEmail">Email</label>
						<input type="email" placeholder="youremail@example.com" class="form-control" th:field="${autore.email}" id="formEmail" />
						<span class="mt-1" th:if="${#fields.hasErrors('autore.email')}" th:errors="${autore.email}"></span>
					</div>

					<div class="row">
						<div class="form-group col-md-6">
							<label>Username</label>
							<span><input type="text" placeholder="username" class="form-control" th:field="${credenziali.username}" /></span>
							<span class="mt-1" th:if="${#fields.hasErrors('credenziali.username')}" th:errors="${credenziali.username}"></span>
						</div>
						<div class="form-group col-md-6 mb-3">
							<label>Password</label>
							<span><input type="password" placeholder="password" class="form-control" th:field="${credenziali.password}" /></span>
							<span class="mt-1" th:if="${#fields.hasErrors('credenziali.password')}" th:errors="${credenziali.password}"></span>
						</div>
					</div>
					<div class="main-button py-3">
						<button type="submit">Registrati</button>
					</div>
					<div>
						<span class="form-text">Hai già un account? <a href="/login">Accedi</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
