<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <!-- Including Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Poesia</title>

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
    <!-- embedding FontAwesome Kit script -->
    <script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- HEADER / NAV BAR -->
<header class="header-area" th:replace="~{fragments/fragments.html :: header-anonymous}"></header>

<!-- Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="row">
                    <!-- MAIN CONTENT -->
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-6 ratio-1x1">
                                <div th:replace="~{fragments/fragments.html :: foto-poesia}"></div>
                                <div th:if="${credentials != null}">
                                    <div th:if="${credentials.isPoeta() || poesia.autore.id==credentials.autore.id}">
                                        <div class="main-button py-3 text-center">
                                            <a th:href="@{'/autore/formUpdatePoesia'+'/' + ${poesia.id}}">Modifica</a>
                                        </div>
                                        <div class="main-button py-3 text-center">
                                            <a th:href="@{'/autore/deletePoesia'+'/' + ${poesia.id}}">Elimina</a>
                                        </div>
					                </div>

                                    <!--AGGIUNGI COMMENTO-->
                                    <div th:if="${credentials != null}">
                                        <div class="main-button py-3 text-center">
                                            <a th:href="@{'/autore/formNewCommento'+'/' + ${poesia.id} +'/'+ ${credentials.autore.id}}">Aggiungi Commento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4 class="text-md-center text-capitalize mb-3"><em th:text="${poesia.titolo}">TITOLO</em></h4>
                                <h6 class="mb-3 fs-5 fst-italic" style="white-space: pre-line" th:text="${poesia.testo}">Testo</h6> <!-- quello stile serve per formattare il carattere \n in html-->
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-12">
                                <!--PER I COMMENTI-->
                                <h4 class="fs-4"><em>Commenti:</em></h4>
                                <div class="row justify-content-start" th:if="${!poesia.commenti.isEmpty()}">
                                    <div class="col-8 mt-4" th:each="commento : ${poesia.commenti}">
                                        <div class="commento p-4">
                                            <figure>
                                                <div class="d-inline-block">
                                                    <h5 class="text-start mt-1" th:text="${commento.autore.nome + ' ' + commento.autore.cognome}">Nome utente</h5>
                                                    <img class="img-fluid" src="" th:if="${commento.autore.foto}" th:src="@{'/files/' + ${commento.autore.foto.id}}" alt="fotoprofilo">
                                                </div>
                                                <p class="text-start fs-5 lh-sm my-3" th:text="${commento.text}"> testo commento</p>
                                                <p class="text-end fs-5" th:text="${commento.data.toLocalDate()}">data</p>
                                                <p class="text-end fs-6" th:text="${commento.data.toLocalTime().getHour() + ':' + commento.data.toLocalTime().getMinute()}">orario</p>
                                            </figure>
                                        </div>
                                        <div class="justify-content-end" th:if="${credentials != null && credentials.isPoeta()}">
                                            <a th:href="@{'/autore/deleteCommento/' + ${commento.id}}">Cancella</a>                <!-- Qui può confondere ma se un utente loggato è POETA allora si comporta da admin anche se chama /autore/cancellaCommento-->
                                        </div>
                                        <div th:unless="${credentials != null && credentials.isPoeta()}">
                                            <div class="justify-content-end" th:if="${commento.autore.equals(user)}">
                                                <a th:href="@{'/deleteCommento/' + ${commento.id}}">Cancella</a>          <!-- se l'utente loggato è l'autore del commento lo può cancellare-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-start" th:if="${user != null}">
                                    <div class="col-8 mt-4">
                                        <div class="commento">
                                            <div class="form p-4">
                                                <form th:action="@{'/addCommento/' + ${poesia.id}}" th:object="${newCommento}" method="POST" >
                                                    <H1 class="mb-0">Scrivi un commento!</H1>
                                                    <div class="col-12 form group mt-0 p-4">
                                                        <label for="commentoContent">Testo</label>
                                                        <textarea class="form-control" id="commentoContent" rows="5" th:field="*{text}"></textarea>
                                                        <p class="form-text valid mt-1" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                                                    </div>
                                                    <div th:if="${#fields.hasGlobalErrors()}">
                                                        <p class="form-text valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                                                    </div>
                                                    <div class="main-button">
                                                        <button type="submit">Invia!</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SIDE BAR -->
                    <div th:replace="~{fragments/fragments.html :: sidebar}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>

<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>