<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <!-- Including Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Poesia</title>

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- embedding FontAwesome Kit script -->
    <script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- HEADER / NAV BAR -->
<header class="header-area" th:replace="~{fragments/fragments.html :: header-anonymous}"></header>

<!-- Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="row">
                    <!-- MAIN CONTENT -->
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-6 ratio-1x1">
                                <div>
                                    <img src="/images/libro.jpg" alt="libro"/> <!-- TODO: bisogna trovare una soluzione -->
                                </div>

                                <!--ciao hermann qui cerco di aggiungere i bottoni per modificare ed eliminare la poesia, spero di non fare pasticci :) -->
                                <span th:if="${credentials.isPoeta() || poesia.autore.id==credentials.autore.id}">
						            <div class="main-button py-3 text-center"><a th:href="@{'/autore/formUpdatePoesia'+'/' + ${poesia.id}}">Modifica</a></div>
                                    <div class="main-button py-3 text-center"><a th:href="@{'/autore/deletePoesia'+'/' + ${poesia.id}}">Elimina</a></div>
					            </span>

                                <!--AGGIUNGI COMMENTO-->
                                <span th:if="${credentials != null}"></span>
                                    <div class="main-button py-3 text-center"><a th:href="@{'/autore/formNewCommento'+'/' + ${poesia.id} +'/'+ ${credentials.autore.id}}">Aggiungi Commento</a></div>


                            </div>
                            <div class="col-6">
                                <h4 class="text-md-center text-capitalize mb-3"><em th:text="${poesia.titolo}">TITOLO</em></h4>
                                <h6 class="mb-3 fs-5 fst-italic" style="white-space: pre-line" th:text="${poesia.testo}">Testo</h6> <!-- quello stile serve per formattare il carattere \n in html-->

                                <!--PER I COMMENTI-->
                                <h4><em style="font-size: 25px">Commenti: </em></h4>
                                <h6 th:if="${poesia.getCommenti().isEmpty()}">Ancora non ci sono commenti per questa poesia!</h6>

                                <div class="col" th:each="commento : ${poesia.getCommenti()}">
                                    <div th:text="${commento.testo}">Testo</div>
                                    <p th:text="${commento.autore}"></p>
                                    <span th:if="${credentials!=null && credentials.isPoeta()}">
                                        <a th:href="@{'/deleteCommento'+'/' + ${commento.id} + '/' + ${poesia.id}}">Elimina Commento</a>
                                    </span>
                                    <span th:unless="${credentials!=null && credentials.isPoeta()}">
                                        <div th:if="${commento.autore.equals(userDetails)}">
                                            <a th:href="@{'/deleteCommento'+'/' + ${commento.id} + '/' + ${poesia.id}}">Elimina Commento</a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SIDE BAR -->
                    <div th:replace="~{fragments/fragments.html :: sidebar}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>

<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>