<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <!-- Including Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <title>Poeti</title>

  <!-- Bootstrap CSS Files -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Custom CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/header.css">
  <!-- embedding FontAwesome Kit script -->
  <script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- HEADER / NAV BAR -->
<header class="header-area" th:replace="~{fragments/fragments.html :: header-anonymous}"></header>

<!-- Content -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div class="col-lg-9">
            <h4><em>CHI SIAMO</em></h4>
            <img class="mt-4 w-50" src="/images/logos/logo4.jpg" alt="logo">
            <!-- TESTO DI PRESENTAZIONE -->
            <div class="text-md-start mt-5">
              <p class="my-3">
                <em>
                  Avere a che fare con se stessi non è una facile impresa.<br/>
                  Riuscire ad ascoltarsi prevede esercizio e silenzio.<br/>
                  Riuscire ad ascoltare gli altri è un’impresa titanica.<br/>
                  Le difficoltà aumentano quando si vive in un mondo che riesce a ridurre le generazioni a un cumulo di biglie sbiadite, scheggiate.<br/>
                  Colpite, lanciate, incidentate da un dito invisibile.<br/>
                </em>
              </p>
              <p class="my-3">
                <em>
                  In epoche come questa si è fatti di vetro.<br />
                  C'è del colore dentro ma è irraggiungibile. Freddo.<br />
                  Mentre ci si scontra, mentre si fa tanto rumore, mentre si rotola in spazi geometrici, quel colore, dentro, si scalda coltivando in sé il desiderio di esplodere.<br />
                  E sciogliersi.<br />
                </em>
              </p>
              <p class="my-3">
                <em>
                  Un ottimo rimedio all'inquietudine è coltivare.<br />
                  Se un pezzo di terra viene coltivato e curato da più di due mani il risultato può essere davvero sorprendente.<br />
                </em>
              </p>
              <p class="my-3">
                <em>
                  Mi guardo attorno mentre sento il grido della poesia esplodermi dentro e apro le porte di quel grido a chi, come me, vuole esserci.<br />
                  Risponde un grido diverso, opposto, complementare.<br />
                  Il verso di una Bestia urbana ubriaca di rime e di fomento. <br />
                </em>
              </p>
              <p class="my-3">
                <em>Quando i silenzi, le letture e un personale anacronismo incontrano la spontaneità, la musica a massimo volume, la soluzione sempre a portata di mano e sintonizzata sulle stazioni del proprio tempo può nascere una grande amicizia. E non solo.</em><br />
              </p>
              <p class="my-3">
                <em>Con l'incontro tra me e <span>Er Bestia</span> nasce il gruppo <span><strong>Poeti der Trullo</strong></span>.</em> <br />
              </p>
              <p class="my-3">
                <em><span>Marta</span> segue il familiare richiamo bestiale e scende spontaneamente dalle sue nuvole. Marta, perennemente innamorata, ci porta la freschezza dell' ultima adolescenza, quella che fa fatica ad andare via, incollandosi sulle dita. I suoi versi sono la melodia che scalda quando il freddo è pungente e il cuore annichilito.</em><br />
              </p>
              <p class="my-3">
                <em>
                  <span>Er Quercia</span>, la migliore amicizia di sempre, si unisce al gruppo radicando e intrecciando, nel nostro giardino privo di recinzioni, pensieri e parole impregnate di terra e filosofia.<br />
                  La sua presenza è rassicurante.<br />
                  Ci piace stenderci all'ombra dei suoi rami, ascoltare la vibrazione delle sue riflessioni, leggere il cielo minaccioso che ci sovrasta e sentirci protetti dalla forza del suo pensiero.<br />
                </em>
              </p>
              <p class="my-3">
                <em>
                  Ci sono ancora due poeti che ci studiano da lontano.<br />
                  Uno ci sorvola. L'altra gironzola, sparisce, torna, si avvicina.<br />
                  Due poeti urbani, notturni, mai sazi dei loro giochi solitari, curiosi di ciò che sta accadendo.<br/>
                </em>
              </p>
              <p class="my-3">
                <em>
                  <span>Er Farco</span>. Ostile e irraggiungibile.<br />
                  Il nostro territorio è anche il suo, ma lui continua a essere altrove.<br />
                  Preferisce seguire il buio che si porta dentro, lanciando, di tanto in tanto, qualche verso lacrimato, per sentire meno il peso della sua incessante solitudine.<br/>
                </em>
              </p>
              <p class="my-3">
                <em>
                  <span>Sara G.</span> salta da un tetto a un altro mentre ci rivela i percorsi del labirinto mente.<br />
                  Le sue parole graffiano la quotidianità liberando un flusso di storie bisognose di uscire dalle quattro mura dell'abitudine.<br />
                  Sara G. denuda la fantasia, il desiderio, la propria lucida versione.<br/>
                </em>
              </p>
              <p class="my-3">
                <em><span>
                  Ci siamo tutti. Siamo un coro.<br />
                  Uniamo e alterniamo le nostre voci con lo scopo di comunicare, spaziare, espanderci.<br />
                  Decidiamo di essere anonimi perché liberi di svelarci davvero, svincolati dall'immagine e dai nomi propri.<br/>
                </span></em>
              </p>
              <p class="my-3">
                <em>In epoche come questa unire sei diverse menti e lasciare che coltivino poesia in un giardino condiviso è cosa impossibile, se non si desse al colore che abbiamo dentro l'occasione di esplodere.</em><br/>
              </p>
              <p class="my-3">
                <em>
                  Il Trullo è un luogo della mente.<br />
                  Tutti possono affacciarsi su questo giardino periferico dopo essersi allontanati dal centro. Il centro delle decisioni, il centro della politica, il centro sotto chiave, protetto da vetri opachi, inaccessibile.<br />
                  Il Trullo è un luogo della mente e tutta la periferia esistente può essere seme e frutto di poesia.<br />
                  Noi esistiamo per dimostrarlo. Noi esistiamo per sporcare i passanti e i vicini del colore che ci è esploso dentro. Abbiamo deciso di lasciarlo fluire e di non arginarlo.<br/>
                </em>
              </p>
              <p class="my-3">
                <em>
                  Siamo un coro che vuole cantare l'amore e la rabbia, l'esperienza e la meraviglia, la provenienza e il viaggio.<br />
                  Le vertigini di un sentimento sul cornicione dell'ultimo piano.<br />
                  Lo scorrere, per le strade romane, di un fiume di versi diretto verso il Tevere, il mare, l'oceano.<br />
                </em>
              </p>
              <p class="my-3">
                <em>Un coro che soffia e diffonde, da un piccolo pezzo di mondo chiamato Trullo, il vento poetico del Metroromanticismo.</em><br/>
              </p>
              <p class="my-3">
                <em><span>Inumi Laconico</span></em>
              </p>
            </div>
          </div>
          <!-- SIDE BAR -->
          <div th:replace="~{fragments/fragments.html :: sidebar}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
<!-- Boostrap JS Files -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>